*
{
	margin:0px;
	padding:0px;
}
body
{
overflow-x:hidden;
}
#links
{
	top:10px;
	padding-left:1230px;
	position:absolute;
}
#header
{
	width:100%;
	height:50px;
background:#82ccdd;

}
#navbar
{
margin-left:6px;
width:100%:fixed;
height:50px;
border:2px;
}
#navbar>li
{
	width:220px;
	float:left;
list-style:none;
}
li>a
{
	text-align:center;
	display:block;
	color:black;
	line-height:50px;
	font-family:algerian;
	font-size:15px;
	text-decoration:none;
	}
#c1	
	{
	color:black;
	font-family:algerian;
	font-size:25px;
	text-decoration:none;
	}
	#c2	
	{
		color:black;
		font-family:calibari;
	font-size:20px;
	text-decoration:none;
	}
	#fm
	{
		color:black;
		font-family:calibari;
	font-size:50px;
	text-decoration:none;
	}
#td2
{
color:white;
 margin-top:-45px;
   width:100%;
   font-family:calibari;
	font-size:20px;
   height:25px;
  background-color: #262626;
}
#td11
{ 
color:white; 
   width:40%;
   font-family:calibari;
	font-size:20px;
   height:20px;
  background-color: #262626;
}
li>a:hover,li>a:focus
{
  background-color:black;
color:white;
}
ul li ul
{
	  background-color:#81ecec;
	  text-align:center;
	  display:none;
}
#posi
{
	top:100px;
	position:absolute;
	width:100%;
}
ul li:hover ul
{
	display:block;
	list-style:none;
	position:relative;
	z-index:50;
	background-color:#red; 
}
#sld
{
	width:70%;
	height:400px;
	position:absolute;
	left:50%;
	top:325px;
	transform:translate(-50%,-50%);
	background-image:url('images/s1.jpg');
	animation:slider 10s infinite;
	background-size:100% 100%;
}

@keyframes slider
{	
	0%{background-image:url('images/s1.jpg');}
	50%{background-image:url('images/s2.jpg');}
	75%{background-image:url('images/s3.jpg');}
	100%{background-image:url('images/s4.jpg');}
}
#welcome
{
	width:100%;
	top:550px;
	position:absolute;
	height:250px;
}
#welcome h1,h3
{
	font-family:Comic Sans MS;
	color:purple;
}
#services
{
	top:650px;
position:absolute;
	width:100%;
	height:500px;
}
#services table tr
{
	text-align:center;
}
#services table tr td
{
	width:25%;
	height:200px;
}
#footer
{
		width:100%;
	height:50px;
background:#82ccdd;
position:absolute;
top:1150px;
color:black;

}
#footer>center
{
margin-top:10px;
}
#posabu
{

	top:120px;
position:absolute;
	width:100%;
	height:500px;
}
#posabu table tr
{
	text-align:center;
}
#posabu table tr td
{
	width:25%;
	height:200px;
	border-style:ridge;
	
}
#wr
{
	top:425px;
position:absolute;
	height:500px;
margin-right:40%;
margin-left:8%;
}
#im
{
	top:420px;
position:absolute;
	height:500px;
margin-right:25px;
margin-left:62%;

}
#wr>p
{
	font-family:Times New Roman;
font-size:20px;
}
#welcome1
{
	width:100%;
	top:130px;
	position:absolute;
	height:250px;
}
#welcome1 h1,h3
{
	font-family:Comic Sans MS;
	color:black;
}
#services1
{
	top:200px;
position:absolute;
	width:100%;
	height:500px;
}
#services1 table tr
{
	text-align:center;
}
#services1 table tr td
{
	width:25%;
	height:200px;
	
}
#services1 table tr td a
{
	text-align:center;
	display:block;
	color:black;
	line-height:50px;
	font-family:algerian;
	font-size:15px;
	text-decoration:none;
	}
#tabss tr td h3 img
{
	box-shadow:10px 10px 1px #ccc;
	border-radius:8px;
	
}